<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sem6finalproject">

    <application
        android:allowBackup="true"
        android:icon="@drawable/cvclogo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/cvclogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".test"></activity>
        <activity android:name=".eventDetails" />
        <activity android:name=".eventList" />
        <activity android:name=".volunteerReport" />
        <activity android:name=".ChangePasswordActivity" />
        <activity android:name=".volunteerList" />
        <activity android:name=".DonorList" />
        <activity android:name=".donorReport" />
        <activity android:name=".profile" />
        <activity android:name=".reports_dashboard" />
        <activity android:name=".removeAccount" />
        <activity android:name=".cloudmessage" />
        <activity android:name=".Donationform" />
        <activity android:name=".SignupConformationActivity" />
        <activity android:name=".VolunteerDashboard" />
        <activity android:name=".AdminDashboard" />
        <activity android:name=".SignupActivity2" /> <!-- <activity android:name=".signupactivity" /> -->
        <activity android:name=".SignupActivity1" />
        <activity android:name=".Crtevt" />
        <activity
            android:name=".LoginConformationActivity"
            android:noHistory="true"
            android:theme="@style/SplashTheme">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity> <!-- <activity android:name=".LoginActivity" /> -->
        <activity android:name=".LoginActivity" />
        <activity
            android:name=".MainActivity"
            android:noHistory="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <!--
 Set custom default icon. This is used when no icon is set for incoming notification messages.
     See README(https://goo.gl/l4GJaQ) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/cvclogo" />
        <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more.
        -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
    </application>

</manifest>